:root {
  --header-color: #fe286c;
  --h2-color: #f9bb00;
  --second-bg: #f87e8e;
  --text-bg: #f7aab2;
}

html {
  height: 100%;
}

body {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url('../img/bg.png');
}

header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
.main-content {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}
footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

section,
header,
footer {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 590px);
  }
}
/* https://habr.com/ru/articles/463923/ */

header {
  display: flex;
  background-color: var(--second-bg);
}

ul.header-menu {
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
}

/* .container {
  max-width: 1170px;
  margin: 0 auto;
} */

.header-menu li {
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: var(--header-color);
  background-color: white;
  border: thick double #32a1ce;
}

.img-main {
  max-width: 300px;
  border-radius: 20px;
}

.img-circle {
  display: block;
  margin: 30px auto;
  border-radius: 100px;
}

h2 {
  text-align: center;
  /* font-family: 'Comic Sans MS', 'Comic Sans', cursive; */
  font-size: 30px;
  font-weight: 900;
  color: var(--h2-color);
  background-color: white;
  border: thick double #32a1ce;
}

.first-gif,
.second-gif {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

/* .second-gif {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
} */

.h3-text-bg {
  display: inline-block;
  padding: 0 1rem;
  color: white;
  background-color: var(--header-color);
  border-radius: 20px;
}

.text-bg {
  padding: 15px 20px;
  background-color: var(--text-bg);
  border-radius: 20px;
}

ul.list-love-bruce {
  list-style-type: '\01F498';

  /* list-style: none; */
}

ul.list-did-you-know {
  list-style-type: '\01F49B';
}

ul.list-other-films {
  list-style-type: '\27A4';
}

/* ul.list-love-bruce li::before {
  content: '\01F498';
  margin-left: -2em;
} */

.underline-text {
  text-decoration: underline;
}

footer {
  background-color: var(--second-bg);
  /* font-family: 'Comic Sans MS', 'Comic Sans', cursive; */
}
.footer-container {
  padding: 10px 0 5px;
  text-align: center;
}

.footer-container p {
  margin-bottom: 0;
}
