:root {
  --header-color: #fe286c;
  --h2-color: #f9bb00;
  --header-footer-bg: #faecc4;
  --text-background: #fae0c4;
  --text-border: #ffcf4d;
}

html {
  height: 100%;
}

body {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url('../img/bg-stars.png');
  background-attachment: fixed;
  color: #cc0141;
}

.header {
  flex: 0 0 auto;
  font-family: serif;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 900;
  text-decoration: underline;
  display: flex;
  background-color: var(--header-footer-bg);
}
.main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

section,
header,
footer {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 590px);
  }
}
/* https://habr.com/ru/articles/463923/ */

ul.header__menu-list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.header__container {
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.main__list {
  text-align: start;
}

.header__menu-list li {
  text-align: center;
  padding: 10px;
}

.image-in-the-right-top-corner {
  position: fixed;
  top: 0;
  right: 0;
  width: 20rem;
}

.image-in-the-left-corner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 16rem;
}

.main__images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  color: var(--header-color);
  background-color: white;
  border: thick double var(--text-border);
}

.text--gradient {
  /* font-family: serif; */
  font-size: 2.8rem;
  text-transform: uppercase;
  background-image: linear-gradient(violet, blue, green, rgb(255, 191, 0), red, red);
  -webkit-background-clip: text;
  color: transparent;
}

.main__gallery {
  margin: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main__gallery__main-image {
  max-width: 300px;
  border-radius: 20px;
  border: 5px solid var(--header-color);
}

.image--rounded {
  display: block;
  margin: 30px auto 0;
  border-radius: 1000px;
  border: 5px solid var(--header-color);
}

.image--square {
  display: block;
  margin: 30px auto 0;
  width: 150px;
}

h2 {
  display: inline-block;
  margin: 2rem auto 1rem;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  text-transform: capitalize;
  color: var(--h2-color);
  background-color: white;
  border: thick double #32a1ce;
}

.main__description {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image--first {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 5px solid var(--header-color);
}

.gallery__img1 {
  background-image: url('../img/Bruce-Willis2.jpg');
  background-size: cover;
  width: 300px;
  height: 430px;
}
.gallery__img2 {
  background-image: url('../img/Bruce-Willis8.jpg');
  background-size: cover;
  width: 300px;
  height: 430px;
}
.gallery__img3 {
  background-image: url('../img/Bruce-Willis7.jpg');
  background-size: cover;
  width: 300px;
  height: 430px;
}
.gallery__img4 {
  background-image: url('../img/Bruce-Willis9.jpg');
  background-size: cover;
  width: 300px;
  height: 430px;
}

.main__love-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.text--multi-colored {
  padding: 0 15px;
  display: inline-block;
  margin: 20px 0 25px;

  font-family: serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}
.text--multi-colored span:nth-child(10n + 1) {
  color: #ef5350;
}

.text--multi-colored span:nth-child(10n + 2) {
  color: #ab47bc;
}

.text--multi-colored span:nth-child(10n + 3) {
  color: #651fff;
}

.text--multi-colored span:nth-child(10n + 5) {
  color: #4caf50;
}

.text--multi-colored span:nth-child(10n + 4) {
  color: #2196f3;
}

.text--multi-colored span:nth-child(10n + 6) {
  color: #00bcd4;
}

.text--multi-colored span:nth-child(10n + 7) {
  color: #ff8f07;
}

.text--multi-colored span:nth-child(10n + 8) {
  color: #ffc107;
}

.text--multi-colored span:nth-child(10n + 9) {
  color: #87c306;
}

.text--multi-colored span:nth-child(10n + 10) {
  color: #e80a93;
}

.h3--background {
  display: inline-block;
  padding: 0 1rem;
  color: white;
  background-color: var(--header-color);
  border-radius: 20px;
}

.text--background {
  padding: 15px 20px;
  background-color: var(--text-background);
  border-radius: 20px;
  border-width: 3px;
  border-style: dashed;
  border-color: var(--text-border);
}

ul.main__love-list {
  list-style-type: '\27A4';
}

ul.main__facts-list {
  list-style-type: '\01F49B';
}

ul.main__other-films-list {
  list-style-type: '\27A4';
}

.text--underline {
  text-decoration: underline;
}

footer {
  margin-top: 10rem;
  background-color: var(--header-footer-bg);
  font-family: serif;
  font-weight: 700;
}
.footer__content {
  padding: 10px 0 5px;
  text-align: center;
}

.footer__content p {
  margin-bottom: 0;
}

.subscription-form {
  margin: 0 auto;
  padding: 0 0 40px;
  width: 600px;
  background-color: #faecc4;
  border-width: 3px;
  border-style: dotted;
  border-color: var(--header-color);
}

.text--subscribe {
  background-color: var(--header-footer-bg);
  text-transform: uppercase;
  border: none;
}

/* ======= GALLERY ========== */

.container-gallery {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.gallery-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
}

.gallery-grid-card {
  width: 200px;
  height: 250px;
  border: 2px solid salmon;
  border-radius: 10px;
}
.img-1 {
  background-image: url('https://i.pinimg.com/originals/ed/20/37/ed2037de6cd45d2ea2a3e3f1420a6aa3.jpg');
  background-size: cover;
}
.img-2 {
  background-image: url('https://i.pinimg.com/originals/2b/fb/3e/2bfb3e4d81b86b00515b0233d703124c.jpg');
  background-size: cover;
}
.img-3 {
  background-image: url('https://i.pinimg.com/564x/ef/81/54/ef8154d85c086845150361afc47e521c.jpg');
  background-size: cover;
}
.img-4 {
  background-image: url('https://i.pinimg.com/originals/ab/45/ab/ab45abbce44502a8ac6a7926a2c89709.jpg');
  background-size: cover;
}
.img-5 {
  background-image: url('https://i.pinimg.com/originals/0d/13/82/0d1382f7cb1a5ca4a369cfac740b0653.jpg');
  background-size: cover;
}
.img-6 {
  background-image: url('https://i.pinimg.com/564x/be/ee/95/beee95b7ad01d4232fe6e39bfcdd4c1a.jpg');
  background-size: cover;
}
.img-7 {
  background-image: url('https://i.pinimg.com/originals/35/65/f3/3565f37d34ec309070e480f8a7efb37d.jpg');
  background-size: cover;
}
.img-8 {
  background-image: url('https://i.pinimg.com/564x/ad/6a/a7/ad6aa74d8d90b92acd74e091574531b1.jpg');
  background-size: cover;
}
.img-9 {
  background-image: url('https://i.pinimg.com/originals/51/36/03/513603d6a36c7c2590129faf7b271659.jpg');
  background-size: cover;
}
.img-10 {
  background-image: url('https://i.pinimg.com/originals/9e/b0/1f/9eb01f357aac2c62118355292c2d5959.jpg');
  background-size: cover;
}
.img-11 {
  background-image: url('https://i.pinimg.com/originals/5b/c2/6d/5bc26d1756dda1fe06c113876f492aca.jpg');
  background-size: cover;
}
.img-12 {
  background-image: url('https://i.pinimg.com/originals/b0/9c/04/b09c04131ac5654dd575f183366e01ac.jpg');
  background-size: cover;
}
.img-13 {
  background-image: url('https://i.pinimg.com/originals/af/df/14/afdf14e838ee1c80409fa7b66e962181.jpg');
  background-size: cover;
}
.img-14 {
  background-image: url('https://i.pinimg.com/originals/72/6a/38/726a38bd59b8352230589ed6592b79b4.jpg');
  background-size: cover;
}
.img-15 {
  background-image: url('https://i.pinimg.com/originals/90/e1/f0/90e1f02cf434f9193896a77ab5578f55.jpg');
  background-size: cover;
}
.img-16 {
  background-image: url('https://i.pinimg.com/originals/7b/f9/52/7bf952ae85177a5eb45b0d661546f8fe.jpg');
  background-size: cover;
}
.img-17 {
  background-image: url('https://i.pinimg.com/originals/30/43/7a/30437a4747a8d9d96ae9f429343f4f24.jpg');
  background-size: cover;
}
.img-18 {
  background-image: url('https://i.pinimg.com/originals/8f/10/7f/8f107f97f5510d6956d7fb05ea6842da.jpg');
  background-size: cover;
}
.img-19 {
  background-image: url('https://i.pinimg.com/originals/85/fb/53/85fb53732f72e339845a6d5e571e7580.jpg');
  background-size: cover;
}
.img-20 {
  background-image: url('https://i.pinimg.com/originals/da/0c/21/da0c21cf301d2ec1866d8e3cf6dbf623.jpg');
  background-size: cover;
}
.img-21 {
  background-image: url('https://i.pinimg.com/564x/0d/95/6b/0d956b24f514bc105db0c42ab26ccdf5.jpg');
  background-size: cover;
}
.img-22 {
  background-image: url('https://i.pinimg.com/originals/de/f9/0a/def90a6def9fa4bcaa9d60b9a1864a11.jpg');
  background-size: cover;
}
.img-23 {
  background-image: url('https://i.pinimg.com/564x/41/2e/e1/412ee159d85ced2a0f330a535af6066f.jpg');
  background-size: cover;
}
.img-24 {
  background-image: url('https://i.pinimg.com/564x/96/00/3a/96003a7d98d22e6c0ae901507bba87fe.jpg');
  background-size: cover;
}
.img-25 {
  background-image: url('https://i.pinimg.com/originals/61/3f/ce/613fce4147d3ae5b6b7d9b9180442279.jpg');
  background-size: cover;
}
.img-26 {
  background-image: url('https://i.pinimg.com/564x/89/fb/e3/89fbe3d3fc23ee676879573a550726e6.jpg');
  background-size: cover;
}
.img-27 {
  background-image: url('https://i.pinimg.com/564x/ff/c4/77/ffc477b57e50ab60e69ff9356e25ac03.jpg');
  background-size: cover;
}
.img-28 {
  background-image: url('https://i.pinimg.com/564x/2d/5b/38/2d5b38fe36be20553b4fd1566145422f.jpg');
  background-size: cover;
}
.img-29 {
  background-image: url('https://i.pinimg.com/564x/18/d7/97/18d797772e3e2d7cd2c4fd259e8f01a4.jpg');
  background-size: cover;
}
.img-30 {
  background-image: url('https://i.pinimg.com/564x/16/f5/c0/16f5c020e6438ff3dacf051694e35e20.jpg');
  background-size: cover;
}

.img-31 {
  background-image: url('https://i.pinimg.com/originals/af/df/14/afdf14e838ee1c80409fa7b66e962181.jpg');
  background-size: cover;
}
.img-32 {
  background-image: url('https://i.pinimg.com/originals/72/6a/38/726a38bd59b8352230589ed6592b79b4.jpg');
  background-size: cover;
}
.img-33 {
  background-image: url('https://i.pinimg.com/originals/90/e1/f0/90e1f02cf434f9193896a77ab5578f55.jpg');
  background-size: cover;
}
.img-34 {
  background-image: url('https://i.pinimg.com/originals/7b/f9/52/7bf952ae85177a5eb45b0d661546f8fe.jpg');
  background-size: cover;
}
.img-35 {
  background-image: url('https://i.pinimg.com/originals/30/43/7a/30437a4747a8d9d96ae9f429343f4f24.jpg');
  background-size: cover;
}
.img-36 {
  background-image: url('https://i.pinimg.com/originals/8f/10/7f/8f107f97f5510d6956d7fb05ea6842da.jpg');
  background-size: cover;
}
.img-37 {
  background-image: url('https://i.pinimg.com/originals/85/fb/53/85fb53732f72e339845a6d5e571e7580.jpg');
  background-size: cover;
}
.img-38 {
  background-image: url('https://i.pinimg.com/originals/da/0c/21/da0c21cf301d2ec1866d8e3cf6dbf623.jpg');
  background-size: cover;
}
.img-39 {
  background-image: url('https://i.pinimg.com/564x/0d/95/6b/0d956b24f514bc105db0c42ab26ccdf5.jpg');
  background-size: cover;
}
.img-40 {
  background-image: url('https://i.pinimg.com/originals/de/f9/0a/def90a6def9fa4bcaa9d60b9a1864a11.jpg');
  background-size: cover;
}
